<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0  maximum-scale=1.0")
        
        link(rel="stylesheet", href="./styles.min.css")
        link(rel="stylesheet", href="./fonts/Exo2.0-Thin.otf")

        title Test
    body
        .wrapper
            p.title Ты сегодня покормил кота?
            .cards-block.cards-block__pos
                .cards-block__card.card
                    .color-border
                        .color-border__triangle
                        .card__content
                            p.card__pretitle Сказочное заморское яство
                            p.card__pretitle.card__pretitle2.displ-none Котэ не одобряет?
                            p.card__title Нямушка
                            p.card__title-with с фуа-гра
                            p.card__text 10 порций
                            p.card__text мышь в подарок
                            .card__weight-pack.weight-pack
                                .weight-pack__num 0,5
                                .weight-pack__num.weight-pack__measure кг
                    .appeal-block
                        span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                        span.appeal-block__appeal.appeal-block__appeal-link купи.
                    .appeal-block.displ-none
                        span.appeal-block__appeal Печень утки разварная с артишоками. 
                    .appeal-block.appeal-block__appeal2.displ-none Печалька, c фуа-гра закончился.
                .cards-block__card.card
                    .color-border
                        .color-border__triangle
                        .card__content
                            p.card__pretitle Сказочное заморское яство
                            p.card__pretitle.card__pretitle2.displ-none Котэ не одобряет?
                            p.card__title Нямушка
                            p.card__title-with с рыбой
                            p.card__text 40 порций
                            p.card__text 2 мыши в подарок
                            .card__weight-pack.weight-pack
                                .weight-pack__num 2
                                .weight-pack__num.weight-pack__measure кг
                    .appeal-block
                        span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                        span.appeal-block__appeal.appeal-block__appeal-link купи.
                    .appeal-block.displ-none
                        span.appeal-block__appeal Головы щучьи с чесноком да свежайшая сёмгушка.
                    .appeal-block.appeal-block__appeal2.displ-none Печалька, c рыбой закончился.
                .cards-block__card.card
                    .color-border
                        .color-border__triangle
                        .card__content
                            p.card__pretitle Сказочное заморское яство
                            p.card__pretitle.card__pretitle2.displ-none Котэ не одобряет?
                            p.card__title Нямушка
                            p.card__title-with с курой
                            p.card__text 100 порций
                            p.card__text 5 мышей в подарок
                            .card__weight-pack.weight-pack
                                .weight-pack__num 5
                                .weight-pack__num.weight-pack__measure кг
                    .appeal-block
                        span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                        span.appeal-block__appeal.appeal-block__appeal-link купи.
                    .appeal-block.displ-none
                        span.appeal-block__appeal Филе из цыплят с трюфелями в бульоне.
                    .appeal-block.appeal-block__appeal2.displ-none Печалька, c курой закончился.


        script(src="./libs.min.js")
        script(src="./script.min.js")
            



  
    
