<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0  maximum-scale=1.0")
        
        link(rel="stylesheet", href="./styles.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Fira+Sans:wght@400;700&display=swap" rel="stylesheet")

        title Test
    body
        .wrapper
            .wrapper__block
                p.title Ты сегодня покормил кота?
                .cards-block.cards-block__pos
                    .cards-block__card.card.js-card-block
                        .color-border.js-card
                            .color-border__triangle
                            .card__content
                                p.card__pretitle.js-change-p Сказочное заморское яство
                                p.card__pretitle.card__pretitle2.js-change-p2.displ-none Котэ не одобряет?
                                p.card__title Нямушка
                                p.card__title-with с фуа-гра
                                p.card__text 10 порций
                                p.card__text мышь в подарок
                                .card__weight-pack.weight-pack
                                    .weight-pack__num 0,5
                                    .weight-pack__num.weight-pack__measure кг
                        .appeal-block.js-appeal-block1
                            span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                            span.appeal-block__appeal.appeal-block__appeal-link.js-link купи.
                        .appeal-block.js-appeal-block2.displ-none
                            span.appeal-block__appeal Печень утки разварная с артишоками. 
                        .appeal-block.appeal-block__appeal2.js-appeal-block3.displ-none Печалька, c фуа-гра закончился.
                    .cards-block__card.card.js-card-block
                        .color-border.js-card
                            .color-border__triangle
                            .card__content
                                p.card__pretitle.js-change-p Сказочное заморское яство
                                p.card__pretitle.card__pretitle2.js-change-p2.displ-none Котэ не одобряет?
                                p.card__title Нямушка
                                p.card__title-with с рыбой
                                p.card__text 40 порций
                                p.card__text 2 мыши в подарок
                                .card__weight-pack.weight-pack
                                    .weight-pack__num 2
                                    .weight-pack__num.weight-pack__measure кг
                        .appeal-block.js-appeal-block1
                            span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                            span.appeal-block__appeal.appeal-block__appeal-link.js-link купи.
                        .appeal-block.js-appeal-block2.displ-none
                            span.appeal-block__appeal Головы щучьи с чесноком да свежайшая сёмгушка.
                        .appeal-block.js-appeal-block3.appeal-block__appeal2.displ-none Печалька, c рыбой закончился.
                    .cards-block__card.card.js-card-block.card-disable
                        .color-border.js-card
                            .color-border__triangle
                            .card__content
                                p.card__pretitle.js-change-p Сказочное заморское яство
                                p.card__pretitle.card__pretitle2.js-change-p2.displ-none Котэ не одобряет?
                                p.card__title Нямушка
                                p.card__title-with с курой
                                p.card__text 100 порций
                                p.card__text 5 мышей в подарок
                                .card__weight-pack.weight-pack
                                    .weight-pack__num 5
                                    .weight-pack__num.weight-pack__measure кг
                        .appeal-block.js-appeal-block1
                            span.appeal-block__appeal Чего сидишь? Порадуй котэ, 
                            span.appeal-block__appeal.appeal-block__appeal-link.js-link купи.
                        .appeal-block.js-appeal-block2.displ-none
                            span.appeal-block__appeal Филе из цыплят с трюфелями в бульоне.
                        .appeal-block.js-appeal-block3.appeal-block__appeal2.displ-none Печалька, c курой закончился.


        script(src="./libs.min.js")
        script(src="./script.min.js")
            



  
    
